

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --regma-bg-dark: #142939;
    --regma-bg-dark-secondary: #0B1925;
    --regma-text-light: #FBFCFA;
    --regma-text-dark: #142939;
    --regma-accent: #33D2CD;
    --regma-purple: #3D2761;

    --font-primary: 'Inter', sans-serif;
}

body {
    background-color: var(--regma-bg-dark);
    color: var(--regma-text-light);
    font-family: var(--font-primary);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}